/********************************
GENERAL
*********************************/

body{
  font-family: 'Helvetica Neue', sans-serif;
  font-weight:275;
  background-repeat: no-repeat;
  background-position: center;
  background-size:auto;

}

iframe {
    border:none;
    margin-bottom:20px;
    width:100%;
    height:150px;
}

#logo {
    display: block;
    margin: auto;
    padding: none;
      
  }


#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
  color: dimgrey;
  padding: 10px 0 0 0;
}


/********************************
HEADNG
*********************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}
    

h1 {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: lighter;
  line-height: 0.8em;
}

h2{
  font-size: 1.25em;
  margin: -5px 0 0;
  font-weight: normal;
}



/********************************
NAVIGATION
*********************************/

nav {
  text-align: center;
  padding: 15px 0 0;
  margin: 10px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
} 
  
nav a {
  font-weight: 800;
  padding: 8px 5px;
}



/********************************
FOOTER
*********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear:both;
  padding-top: 50px;
  color: dimgray;
 }

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/********************************
PAGE: MUSIC
*********************************/

#musiclinks {
    padding: 15px;
}



/********************************
PAGE: ABOUT
*********************************/

#secondary h3 {
    color: dimgrey;
}

#description {
    font-weight: bold;
    color: lightgrey
}

#bios {
    float: left;
    font-weight: lighter;
}

#bios h4 {
    color: lightgrey;
}

#about_body {
    
    background: url('../img/BandPhotoHaymarket.jpg') lightgray no-repeat 50% ;

}

/********************************
PAGE: CONTACT
*********************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: .9em;
}

.contact-info a {
  display:block;
  background-repeat:no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
  padding: 6px 12px;
  border-radius: 4px;
  margin-right: 8px;
  font-weight: lighter;
 
}
.button {
  color: rgb(255, 255, 255);
  padding: 6px 12px;
  border-radius: 4px;
  margin-right: 8px;
}

.button.button-twitter {
  background-color: rgb(0, 172, 237);
}

.button.button-facebook {
  background-color: rgb(59, 89, 152);
}



.contact-info li.mail a {
  background-image: url('../img/mail.png');
  background-color: #004;
  border-radius: 4px;
}

.contact-info li.twitter a {
  background-image: url('fa.fa-twitter');
}


/********************************
PAGE: PHOTOS
*********************************/


#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 90%;
    margin: 2.5%;
    background-color: lightgray;
    opacity: .85;
}



#gallery li a a{
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
}

/********************************
PAGE: STORE
*********************************/


#stickers {
   display: block;
   border-radius: 10px;
   max-width: 500px;
   margin: auto;
   padding: 15px;
   }




/********************************
COLORS
*********************************/

/* site body */
body {
  background-color: lightgrey;
  color:dimgrey;
}

/* blue header */
header {
  background: #082748;
  border-color: #000055;
}

/* nav background on mobile devices*/
nav {
 background-color: dimgrey;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: lightgrey;
  
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav links*/
nav a.selected, nav a:hover {
  color: slategray;
}




/* footer social links */

#twitter_logo {
    font-size: 30px;
    color: #00aced;

}

#facebook_logo {
    font-size: 30px;
    color: #3b5998;
}






